.hxvhp { 
  padding-right: 8px;
  line-height: 47px;
  padding-bottom: 39px;
  border-bottom-width: 81px;
  margin-left: 35px;
  padding-right: 4px;
  border-right-width: 81px;
  border-bottom-width: 57px;
  border-bottom-width: 78px;
  margin-bottom: 26px;
  margin-left: 86px;
  border-top-width: 70px;
  margin-top: 61px;
  padding-bottom: 2px;
  line-height: 79px;
  padding-top: 80px;
  padding-bottom: 90px;
  margin-top: 70px;
  font-size: 34px;
  border-top-width: 2px;
  border-right-width: 65px;
  padding-right: 18px;
  border-right-width: 9px;
  padding-right: 68px;
  padding-bottom: 50px;
  padding-right: 74px;
  padding-bottom: 8px;
  font-size: 37px;
  line-height: 37px;
  padding-right: 95px;
  border-left-width: 63px;
  padding-right: 58px;
  line-height: 96px;
  padding-left: 8px;
  margin-top: 15px;
  padding-top: 74px;
  margin-bottom: 62px;
  border-bottom-width: 90px;
  padding-left: 71px;
  margin-right: 11px;
  margin-left: 61px;
  padding-right: 11px;
  padding-left: 91px;
}
